---
layout: default
title: Home
---


{% capture news %}{% include news.md %}{% endcapture %}
{% assign n = news | split: "*" %}
{% assign ns =  n | size  %}

<div class="message">
    <h2>News</h2>
<small>
{% if ns > 5%}
  <ul>
    {% for i in (1..5) %}
      <li>{{n[i]}}
    {% endfor %}
  </ul>
  {% else %}
    {{ news | markdownify }}
  {% endif %}
</small>
  <div style="width:100%;text-align:right"><a href="/news">more</a></div>
</div>


<h1>About</h1>

<p>I am a PhD candidate in the <a href="http://www.scs.gatech.edu/">School of Computer Science</a> at <a href="http://www.gatech.edu">Georgia Tech</a>. I work in the Software Engineering group under the supervision of <a href="http://www.cc.gatech.edu/~orso/">Dr. Alex Orso</a>. My research goal is to improve the testing and maintenance of modern software applications across multiple platforms. In the past, I have also worked on improved penetration testing for web applications.</p>

<p>In 2012, I was awarded the <a href="http://tiger.gatech.edu">TI:GER fellowship</a>, which changed my focus towards commercializing my research. Under this program, I have created <a href="http://checkdroid.com">CheckDroid</a>, which is a service to help Android developers test their applications across different mobile devices.</p>

<p>Over the past few years, I have also worked at several companies including <a href="http://www.google.com">Google</a> ('11), <a href="http://www.flacp.fujitsulabs.com/TSIG/">Fujitsu Labs of America</a> ('11), <a href="http://yahoo.com">Yahoo!</a> ('10), <a href="http://www.research.ibm.com/irl/">IBM Research</a> ('09), <a href="http://www.gs.com">Goldman Sachs</a> ('08) and <a href="http://www.hsbcglt.com/">HSBC Software</a>. </p>


<h1>Research</h1>

<p>My primary research is focused on Cross-platform Testing and Maintenance of Modern Software Applications (web and mobile). 
Under this, I have created and released research tools under the following projects: </p>
<ul>
<li> Cross-browser testing of web applications (WebDiff - ICSM 2010, X-PERT - ICSE 2013)
<li> Detecting missing features amongst desktop and mobile web applications (FMAP - ISSTA 2014)
<li> Test migration between mobile platforms (current)
</li>

For more information about my work, please see <a href="/publications/">my publications</a>

<h1>Connect</h1>

<p>If you would like to connect with me, feel free to email me at <my_first_name>@gmail.com or send me a message through <a href="/contact">this website</a>.
