---
layout: default
title: Home
---


{% capture news %}{% include news.md %}{% endcapture %}
{% assign n = news | split: "*" %}
{% assign ns =  n | size  %}

<div class="message">
    <h2>News</h2>
<small>
{% if ns > 5%}
  <ul>
    {% for i in (1..5) %}
      <li>{{n[i]}}
    {% endfor %}
  </ul>
  {% else %}
    {{ news | markdownify }}
  {% endif %}
</small>
  <div style="width:100%;text-align:right"><a href="/news">more</a></div>
</div>


<h1>BIO</h1>
<p>Dr. Shauvik Roy Choudhary is the Founder of CheckDroid, where he works on building cutting edge testing and support tools for Android apps. He received his PhD in <a href="http://www.scs.gatech.edu/">Computer Science</a> from <a href="http://www.gatech.edu">Georgia Tech</a> and his work was focused on techniques for cross-platform testing and maintenance for web and mobile applications. Prior to his PhD, Shauvik received his MS in Information Security from Georgia Tech and his BE in Computer Engineering from Mumbai University. Over the years, he has held several development, testing and research positions at companies including, Google, Fujitsu Labs of America, Yahoo! Inc., IBM Research, Goldman Sachs and HSBC Software. For more information about Shauvik, visit his website at <a href="http://shauvik.com">http://shauvik.com</a> </p>

<h1>Research</h1>

For more information about my work, please see <a href="/publications/">my publications</a>

<h1>Connect</h1>

<p>If you would like to connect with me, feel free to email me at (my_first_name)@gmail.com or send me a message through <a href="/contact">this website</a>.

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-13031704-2', 'auto');
  ga('send', 'pageview');

</script>
