<div class="message">
    <h2>News</h2>
	<ul>
		<li><strong>Mar 19th, 2014:</strong> <a href="http://checkdroid.com">CheckDroid</a> won the 1st Prize at <a href="http://startupmad.com">Startup Madness</a>, an entrepreneurial competition of the ACC schools.</li>
		<li><strong>Mar 13th, 2014:</strong> I successfully defended my PhD proposal.</li>
		<li><strong>Mar 10th, 2014:</strong> <a href="http://checkdroid.com">CheckDroid</a> won the <a href="http://startup.gatech.edu/competition/">Georgia Tech Startup Competition</a>!</li>
	</ul>
	<div style="width:100%;text-align:right"><a href="/news">more</a></div>
</div>