<div class="message">
    <h2>News</h2>
	<ul>
		<li><strong>Mar 19th, 2014:</strong> <a href="http://checkdroid.com">CheckDroid</a> won the 1st Prize at <a href="http://startupmad.com">Startup Madness</a>, an entrepreneurial competition of the ACC schools. Media: <a href="http://www.cc.gatech.edu/news/georgia-tech%E2%80%99s-checkdroid-wins-2014-startup-madness-competition">[1</a>, <a href="http://www.bizjournals.com/triangle/blog/techflash/2014/03/ncsus-startup-madness-spotlights-college.html">2</a>, <a href="http://www.wncn.com/story/25023370/acc-business-students-compete-in-start-up-madness-at-ncsu">3</a>, <a href="http://upstart.bizjournals.com/companies/startups/2014/03/20/startup-madness-takes-hold-ncsu.html?page=all">4]</a></li>
		<li><strong>Mar 13th, 2014:</strong> I successfully defended my PhD proposal.</li>
		<li><strong>Mar 10th, 2014:</strong> <a href="http://checkdroid.com">CheckDroid</a> won the <a href="http://startup.gatech.edu/competition/">Georgia Tech Startup Competition</a>!</li>
	</ul>
	<div style="width:100%;text-align:right"><a href="/news">more</a></div>
</div>